@page
@model demoModel
@{
    //ViewData["Title"] = "Demo";
}

<!doctype html>
<html>
<head>
    <title>Grid</title>
    <link rel="stylesheet" href="css/demo.css">
    <link rel="stylesheet" href="css/material-design-iconic-font.min.css">
    <!--Pull down the polyfill if needed (Safari + older opera browser)-->
    <script>
        if (!(window.indexedDB || window.window.mozIndexedDB || window.webkitIndexedDB || window.msIndexedDB))

            document.write('<script src="https://rawgit.com/axemclion/IndexedDBShim/master/dist/indexeddbshim.js">\x3C/script>');
    </script>
    <!-- include dexie.js api - create db + store query functions -->
    <script src="https://unpkg.com/dexie@latest/dist/dexie.js"></script>
    <script src="js/demo.js"></script>


</head>

<body onload="onLoadRun();">
    <form method="POST">
        <section class="header">

            <h1><a asp-page="/index" style="text-decoration:none; color:white;">ExVi</a></h1>
            <h2>Demo</h2>

        </section>

        <div id="results">
            <div id="resultsFlex">
                <h3 id="filtersTitle">Filters:</h3>
                <ul id="filterList" class="filterList"></ul>
                <ul class="filterList">
                    <li id="edit" onclick="showFilters()"><i class="zmdi zmdi-edit zmdi-hc-fw"></i></li>
                    <li id="clear"><button asp-page="/demo" asp-page-handler="ViewAll"><i class="zmdi zmdi-delete zmdi-hc-fw"></i></button></li>
                </ul>

            </div>
            <div id="resultsFlex">
                <h2 id="resultsFound"></h2>
                <p>Results found</p>
            </div>
        </div>

        <div id="filters">
            <div class="filterSection">
                <h4>Mouse</h4>
                <div class="filterSubSection">
                    <p>Date of Birth:</p>
                    <select id="optionMinDob" name="optionMinDob"><option value="A" selected hidden>Min</option><option value="A">Any</option></select>
                    <p>to</p>
                    <select id="optionMaxDob" name="optionMaxDob"><option value="A" selected hidden>Max</option><option value="A">Any</option></select>
                </div>
                <div class="filterSubSection">
                    <select id="optionSex" name="optionSex"><option value="A" selected hidden>Sex</option><option value="A">Any</option></select>
                </div>
                <div class="filterSubSection">
                    <p>Age (In Weeks):</p>
                    <select id="optionMinAge" name="optionMinAge"><option value="A" selected hidden>Min</option><option value="A">Any</option></select>
                    <p>to</p>
                    <select id="optionMaxAge" name="optionMaxAge"><option value="A" selected hidden>Max</option><option value="A">Any</option></select>
                </div>
                <div class="filterSubSection">
                    <p>Weight (g):</p>
                    <select id="optionMinWeight" name="optionMinWeight"><option value="A" selected hidden>Min</option><option value="A">Any</option></select>
                    <p>to</p>
                    <select id="optionMaxWeight" name="optionMaxWeight"><option value="A" selected hidden>Max</option><option value="A">Any</option></select>
                </div>
                </div>
                <div class="filterSection">
                    <h4>Experiment</h4>
                    <input type="text" id="optionId" placeholder="Biological Sample ID" name="optionId">
                    <select id="optionGeneSymb" name="optionGeneSymb"><option value="A" selected hidden>Gene Symbol</option><option value="A">Any</option></select>
                    <select id="optionGeneAccId" name="optionGeneAccId"><option value="A" selected hidden>Gene Accession ID</option><option value="A">Any</option></select>
                    <select id="optionZygosity" name="optionZygosity"><option value="A" selected hidden>Zygosity</option><option value="A">Any</option></select>
                    <select id="optionParameter" name="optionParameter"><option value="A" selected hidden>Parameter Name</option><option value="A">Any</option></select>
                </div>
                <div class="filterSection">
                    <h4>Other</h4>
                    <select id="optionCenter" name="optionCenter"><option value="A" selected hidden>Phenotyping Center</option><option value="A">Any</option></select>
                    <select id="optionObvsType" name="optionObvsType"><option value="A" selected hidden>Observation Type</option><option value="A">Any</option></select>
                    <select id="optionCategory" name="optionCategory"><option value="A" selected hidden>Category</option><option value="A">Any</option></select>
                </div>
                <input id="filterSubmit" type="submit" class="btn btn-light" asp-page="/demo" asp-page-handler="Filter">
            </div>
    </form>

    <div id="images">
        <!-- Images are placed above this Div to create the grid -->
        <div id="placeholderDiv"></div>
    </div>
    <div id="modalContainer">

    </div>
</body>

</html>

<script>
    var menuOption = '@ViewData["MenuOption"]';
    var idOption = '@ViewData["IdOption"]';
    var centerOption = '@ViewData["CenterOption"]';
    var dobOption = ['@ViewData["DobMinOption"]','@ViewData["DobMaxOption"]'];
    var sexOption = '@ViewData["SexOption"]';
    var ageOption = ['@ViewData["AgeMinOption"]','@ViewData["AgeMaxOption"]'];
    var weightOption = ['@ViewData["WeightMinOption"]','@ViewData["WeightMaxOption"]'];
    var geneSymbOption = '@ViewData["GeneSymbOption"]';
    var geneAccIdOption = '@ViewData["GeneAccIdOption"]';
    var zygosityOption = '@ViewData["ZygosityOption"]';
    var parameterOption = '@ViewData["ParameterOption"]';
    var obvsTypeOption = '@ViewData["ObvsTypeOption"]';
    var categoryOption = '@ViewData["CategoryOption"]';
    if (menuOption == "ViewAll") {
        queryDb('A', 'A', ['A','A'], 'A', ['A','A'], ['A','A'], 'A', 'A', 'A', 'A', 'A', 'A');
    } else if (menuOption == "Males") {
        queryDb('A', 'A', ['A', 'A'], 'male', ['A', 'A'], ['A', 'A'], 'A', 'A', 'A', 'A', 'A', 'A');
    } else if (menuOption == "Females") {
        queryDb('A', 'A', ['A', 'A'], 'female', ['A', 'A'], ['A', 'A'], 'A', 'A', 'A', 'A', 'A', 'A');
    } else if (menuOption == "UserFilter") {
        queryDb(idOption, centerOption, dobOption, sexOption, ageOption, weightOption, geneSymbOption, geneAccIdOption, zygosityOption, parameterOption, obvsTypeOption, categoryOption);
    } else {
        console.log("Query Not Fired");
    };
    //biological_sample_id,phenotyping_center,date_of_birth,sex,age_in_weeks,weight,gene_symbol,gene_accession_id,zygosity,parameter_name,observation_type,category

</script>




