@page
@model dicomImageToGridModel
@{
    //ViewData["Title"] = "dicomImageToGrid";
}

<!doctype html>
<html>
<head>
    <title>Grid</title>
    <link rel="stylesheet" href="css/dicomImageToGrid.css">
    <!--Pull down the polyfill if needed (Safari + older opera browser)-->
    <script>
        if (!(window.indexedDB || window.window.mozIndexedDB || window.webkitIndexedDB || window.msIndexedDB))

            document.write('<script src="https://rawgit.com/axemclion/IndexedDBShim/master/dist/indexeddbshim.js">\x3C/script>');
    </script>
    <!-- include dexie.js api - create db + store query functions -->
    <script src="https://unpkg.com/dexie@latest/dist/dexie.js"></script>
    <script src="js/db-dexie.js"></script>


</head>

<body onload="onLoadRun();">

    <div class="header">

        <form method="POST">
            <button type="submit" class="btn btn-dark" asp-page="/Index">Home</button>
            <button type="submit" class="btn btn-danger" asp-page-handler="ViewAll">View All</button>
            <button type="submit" class="btn btn-success" asp-page-handler="Females">Females</button>
            <button type="submit" class="btn btn-primary" asp-page-handler="Males">Males</button>
            <button type="submit" class="btn btn-warning" asp-page-handler="Gene">Gene (Rab15)</button>
            <button type="submit" class="btn btn-info" asp-page-handler="Center">Centre (ICS)</button>
        </form>
    </div>

    <div class="header">
        <form method="POST">
            <input type="text" id="tagName" placeholder="Patient ID" name="optionId">
            <select id="optionSex" name="optionSex"><option value="A">Any</option></select>
            <select id="optionParameter" name="optionParameter"><option value="A">Any</option></select>
            <select id="optionGene" name="optionGene"><option value="A">Any</option></select>
            <select id="optionCenter" name="optionCenter"><option value="A">Any</option></select>
            <input type="submit" class="btn btn-light" asp-page="/dicomImageToGrid" asp-page-handler="Filter">
        </form>
    </div>

    <div id="images">
        <p id="resultsFound"></p>
        <!-- Images are placed above this Div to create the grid -->
        <div id="dicomImage"></div>
    </div>

</body>

</html>

<script>
    var menuOption = '@ViewData["MenuOption"]';
    var centerOption = '@ViewData["CenterOption"]';
    var sexOption = '@ViewData["SexOption"]';
    var parameterOption = '@ViewData["ParameterOption"]';
    var geneOption = '@ViewData["GeneOption"]';
    var idOption = '@ViewData["IdOption"]';
    if (menuOption == "ViewAll") {
        queryDb('A', 'A', 'A', 'A', 'A');
    } else if (menuOption == "Females") {
        queryDb('A', 'F', 'A', 'A', 'A');
    } else if (menuOption == "Males") {
        queryDb('A', 'M', 'A', 'A', 'A');
    } else if (menuOption == "Gene") {
        queryDb('A', 'A', 'Rab15', 'A', 'A');
    } else if (menuOption == "Center") {
        queryDb('A', 'A', 'A', 'A', 'ICS');
    } else if (menuOption == "UserFilter") {
        queryDb(idOption, sexOption, geneOption, parameterOption, centerOption);
    } else {
        console.log("Query Not Fired");
    };


</script>




