@page
@model dicomImageToGridModel
@{
    //ViewData["Title"] = "dicomImageToGrid";
}

<!doctype html>
<html>
<head>
    <title>Grid</title>
    <link rel="stylesheet" href="css/dicomImageToGrid.css">

    <!-- include the cornerstone library -->
    <script src="https://unpkg.com/cornerstone-wado-image-loader@3.0.6/dist/cornerstoneWADOImageLoader.min.js"></script>
    <script src="js/cornerstone.min.js"></script>
    <script src="js/cornerstoneMath.min.js"></script>
    <script src="js/cornerstoneTools.min.js"></script>
    <script src="js/dicomParser.min.js"></script>
    <script src="js/cornerstoneWADOImageLoader.js"></script>

    <!-- include dexie.js api - create db + store query functions -->
    <script src="https://unpkg.com/dexie@latest/dist/dexie.js"></script>
    <script src="js/db-dexie.js"></script>
    <script>
        createDb();
        loadTestData();
    </script>

</head>

<body>

    <div class="header">

        <form method="POST">
            <button type="submit" class="btn btn-dark" asp-page="/Index">Home</button>
            <button type="submit" class="btn btn-danger" asp-page-handler="ViewAll">View All</button>
            <button type="submit" class="btn btn-success" asp-page-handler="Females">Females</button>
            <button type="submit" class="btn btn-primary" asp-page-handler="Males">Males</button>
            <button type="submit" class="btn btn-warning" asp-page-handler="Gene">Gene (Rab15)</button>
            <button type="submit" class="btn btn-info" asp-page-handler="Center">Centre (ICS)</button>
        </form>
    </div>
<!--
    <div class="header">
        <form method="POST">
            <label for="tagName"><font color="black" size="4">QUERY:</font></label>
            <input type="text" id="tagName" placeholder="Centre: WTSI or ICS" name="center">
            <input type="text" id="tagName" placeholder="Sex: M or F" name="sex">
            <input type="submit" class="btn btn-light" asp-page="/dicomImageToGrid" asp-page-handler="TextQuery">
        </form>
    </div> -->

    <div class="header">
        <form method="POST">
            <input type="text" id="tagName" placeholder="Patient ID" name="optionId">
            <select id="optionSex" name="optionSex"><option value="A">Any</option></select>
            <select id="optionParameter" name="optionParameter"><option value="A">Any</option></select>
            <select id="optionGene" name="optionGene"><option value="A">Any</option></select>
            <select id="optionCenter" name="optionCenter"><option value="A">Any</option></select>
            <input type="submit" class="btn btn-light" asp-page="/dicomImageToGrid" asp-page-handler="Filter">
        </form>
    </div>

    <div id="images">
        <p id="resultsFound"></p>
        <!-- Images are placed above this Div to create the grid -->
        <div id="dicomImage"></div>
    </div>

</body>

</html>

<script>
    populateOptions();

    //View All search button from index page
    var menuOption = '@ViewData["MenuOption"]';
    var centerOption = '@ViewData["CenterOption"]';
    var sexOption = '@ViewData["SexOption"]';
    var parameterOption = '@ViewData["ParameterOption"]';
    var geneOption = '@ViewData["GeneOption"]';
    var idOption = '@ViewData["IdOption"]';
    console.log("Menu Option: ", menuOption);
    console.log("Center Option: ", centerOption);
    console.log("Sex Option: ", sexOption);
    console.log("Parameter Option: ", parameterOption);
    console.log("Gene Option: ", geneOption);
    console.log("id Option: ", idOption);
    if (menuOption == "ViewAll") {
        queryDb('A', 'A', 'A', 'A', 'A');
    } else if (menuOption == "Females") {
        queryDb('A', 'F', 'A', 'A', 'A');
    } else if (menuOption == "Males") {
        queryDb('A', 'M', 'A', 'A', 'A');
    } else if (menuOption == "Gene") {
        queryDb('A', 'A', 'Rab15', 'A', 'A');
    } else if (menuOption == "Center") {
        queryDb('A', 'A', 'A', 'A', 'ICS');
    } else if (menuOption == "UserFilter") {
        queryDb(idOption, sexOption, geneOption, parameterOption, centerOption);
    } else {
        console.log("Query Not Fired");
    };

    console.log("Page Loaded :)");
</script>




